/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import "./app/scss/index.scss";

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* > router-outlet {
  flex: 1 0 auto;
}

app-list {
  overflow-x: hidden;
}
