@import '../../scss/index.scss';

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  width: 100vw;
  margin: 0 auto;
  font-family: var(--font-sans);
  grid-template-columns: repeat(auto-fit,minmax(13rem, 1fr));
}